<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">

    <title>Login</title>
</head>

<body>
<div th:replace="base:: nav"></div>

<div class="container" align="center">

    <h1>Login</h1>

    <div th:if="${param.error}">
        Invalid username or password
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
    <form class="form-signin" action = "#" th:action="@{/login}" method = "post">
        <img alt="" class="mb-4" height="72" src="" width="72">
        <h1 class="h3 mb-3 font-weight-normal" >Please sign in</h1>

        <label for="inputEmail">Email address</label>
        <input class="form-control" id="inputEmail" placeholder="Email address" required type="email" name = "username">

        <label for="inputPassword">Password:</label>
        <input class="form-control" id="inputPassword"  placeholder="Password" required type="password">

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-primary" type="submit">Sign in</button> <br/>
        <a href="/register">Register here</a>
    </form>

</div>

<div th:replace="base::footer"></div>
</body>
</html>
