<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">

    <title>Registration</title>
</head>

<body>
<div th:replace="base::nav"></div>

<div class="container col-md-6" align="center">
    <div align="left">
        <h2 class="text-center">Register</h2>
        <div th:if="${param.success}">
            <div class="alert alert-info">
                You've successfully registered to our awesome app!
            </div>
        </div>

        <form method="post" th:action="@{/register}" th:object="${user}">

            <p class="error-message"
               th:each="error : ${#fields.errors('global')}"
               th:if="${#fields.hasGlobalErrors()}"
               th:text="${error}">Validation error</p>

            <div class="form-group"
                 th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                <div class="input-group">

                    <input class="form-control"
                           id="firstName"
                           placeholder="First name"
                           th:field="*{firstName}"/>
                </div>
                <p class="error-message"
                   th:each="error: ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                <div class="input-group">

                    <input class="form-control"
                           id="lastName"
                           placeholder="Last name"
                           th:field="*{lastName}"/>
                </div>
                <p class="error-message"
                   th:each="error: ${#fields.errors('lastName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control"
                           id="email"
                           placeholder="E-mail"
                           th:field="*{email}"/>
                </div>
                <p class="error-message"
                   th:each="error: ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control"
                           id="confirmEmail"
                           placeholder="Confirm e-mail"
                           th:field="*{confirmEmail}"/>
                </div>
                <p class="error-message"
                   th:each="error: ${#fields.errors('confirmEmail')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <div class="input-group">

                    <input class="form-control"
                           id="password"
                           placeholder="password"
                           th:field="*{password}"
                           type="password"/>
                </div>
                <ul class="text-left"
                    th:each="error: ${#fields.errors('password')}">
                    <li th:each="message : ${error.split(',')}">
                        <p class="error-message"
                           th:text="${message}"></p>
                    </li>
                </ul>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                <div class="input-group">

                    <input class="form-control"
                           id="confirmPassword"
                           placeholder="Confirm password"
                           th:field="*{confirmPassword}"
                           type="password"/>
                </div>
                <ul class="text-left"
                    th:each="error: ${#fields.errors('confirmPassword')}">
                    <li th:each="message : ${error.split(',')}">
                        <p class="error-message"
                           th:text="${message}"></p>
                    </li>
                </ul>
            </div>
            <div class="form-group"
                 th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                <input id="terms"
                       th:field="*{terms}"
                       type="checkbox"/>
                <label class="control-label" for="terms">
                    I agree with the <a href="#">terms and conditions</a> for Registration.
                </label>
                <p class="error-message"
                   th:each="error : ${#fields.errors('terms')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">Register</button>
            </div>
        </form>
    </div>
    <div align="left">
        Already registered? <a href="/" th:href="@{/login}">Login</a><br/>
        Forgot password? <a href="/" th:href="@{/forgot-password}">Reset password</a>
    </div>
</div>

<div th:replace="base::footer"></div>
</body>
</html>